form{
    margin: 0 auto;
    top: 50px;
    position: relative;
    width: 280px;
    background: #ddd;
    padding: 30px 15px;
    -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .6);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .6);
}

input[type="button"]:focus{
    outline: 0;
}

input[type="text"]{
    width: 100%;
    font-size: 36px;
    padding: 5px;
    box-sizing: border-box;
    text-align: right;
}

input[type="button"]{
    width: 58px;
    height: 55px;
    background: #aaa;
    border: none;
    color: #fff;
    font-size: 24px;
    margin-bottom: 5px;
    align-items: center;
}

hr{
    margin: 15px 0;
}